section{
    height: 100vh;
    width: 100vw;

    position: absolute;
    overflow: auto;
}

section>div:first-child{
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 15px solid gray;


    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    position: fixed;
    z-index: 1;
}

section>div:nth-child(2){
    height: 230px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 10px solid red;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    position: fixed;
    z-index: 1;
}

/*First DIV*/

section>div:nth-child(3){
    height: 230px;
    aspect-ratio: 1/1;
    background-color: purple;
    border-radius: 100%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    position: absolute;
}

section>div:nth-child(3)>h1{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    height: fit-content;
    width: fit-content;
}

/*Second DIV*/

section>div:nth-child(4){
    height: 230px;
    aspect-ratio: 1/1;
    background-color: dodgerblue;
    border-radius: 100%;

    left: 0;
    right: 0;
    top: 150%;
    bottom: 0;
    margin: auto;

    position: absolute;
}

section>div:nth-child(4)>h1{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    height: fit-content;
    width: fit-content;
}

/*Third DIV*/

section>div:nth-child(5){
    height: 230px;
    aspect-ratio: 1/1;
    background-color: hotpink;
    border-radius: 100%;

    left: 0;
    right: 0;
    top: 250%;
    bottom: 0;
    margin: auto;

    position: absolute;
}

section>div:nth-child(5)>h1{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    height: fit-content;
    width: fit-content;
}

/*Forth DIV*/

section>div:nth-child(6){
    height: 230px;
    aspect-ratio: 1/1;
    border-radius: 100%;

    left: 0;
    right: 0;
    top: 350%;
    bottom: 0;
    margin: auto;

    position: absolute;
}